@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
:root {
  --text: #000000;
  --background: #f2f2f2;
  --primary: #5c376d;
  --secondary: #cda3dc;
  --accent: #9c3179;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.navbar {
    background: rgb(92, 55, 109); /* Merged gradient background */
    background: linear-gradient(
      132deg,
      rgba(92, 55, 109, 1) 29%,
      rgba(255, 255, 255, 1) 29%
    );
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
    animation: fadeIn 1s ease-in-out;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.45); /* Stronger box-shadow */
    width: 100%;
  }
  
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nav-links a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  padding: 20px;
  transition: all ease 0.3s;
  font-weight: 700;
}
.nav-links a:hover,
.logo:hover {
  color: var(--primary);
  filter: brightness(150%);
  cursor: pointer;
}
  .company-name {
    color: white;
    padding: 20px;
    font-size: clamp(25px, 4vw, 30px);
    font-weight: 700;
    padding-left: 100px;
    text-decoration: none;
  }
  .account {
    display: flex;
    align-items: center;
  }
  .account {
    position: relative;
    display: inline-block;
  }
  .account img {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .account a:hover {
    filter: none !important;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
  }
  
  .dropdown a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .account:hover .dropdown {
    display: block;
    opacity: 1;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .account:hover .dropdown {
    display: block;
    animation: fadeIn 0.3s forwards;
  }

@media only screen and (max-width:768px){
    body {
        overflow-x: hidden !important;
      }
      .nav-links .n-link {
        display: none;
      }
      .company-name {
        padding-left: 20px;
      }
    .account {
        display: block;
      }
      .account img{
        width: 50px;
        height: 50px;
        margin-right: 0;
      }
      .account a{
        padding: 0 !important;
      }
      .account .dropdown a{
        padding: 10px 20px !important; 
      }
}





/* FOOTER */
footer {
    /* background-color: #ededed; */
    background: url(/img/Fluid-100s-3000px.svg) no-repeat;
  background-position: 100% 100%;
    text-align: center;
  
    /* margin-top: 100px; */
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer-box{
    padding: 10px 10px 0px 10px ;
    width: 100%;
    height: 100%;
  }
  footer .mainbox1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
  }
  .mainbox1 .box{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 25%;
    gap: 10px;
    margin-left: 40px;
  }
  .mainbox1 .box:nth-child(1){
    width: 30%;
  }
  .mainbox1 .box:nth-child(2){
    width: 20%;
  }
  .mainbox1 .box:nth-child(3){
    width: 20%;
  }
  .mainbox1 .box:nth-child(4){
    width: 30%;
  }
  .box .head{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
  }
  .box .f-desc{
    font-size: 15px;
    color: #333;
    text-align: justify;
    /* width: 70%; */
  }
  .box .links{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-right: 50px;
  }
  .links a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  .links a:hover{
    color: var(--accent);
  }
  .box .address{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .address p i{
    margin-right: 5px;
    width: 15px;
  }
  
  .box .n-desc{
    font-size: 15px;
    color: #333;
    text-align: justify;
    width: 70%;
  }
  .box .sub{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
  }
  .sub input{
    border: none;
    outline: none;
    padding: 5px 0px 5px 5px;
    width: 200px;
    border-radius: 5px;
  }
  .sub button{
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--primary);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .sub button:hover{
    filter: brightness(120%);
  }
  
  footer .mainbox2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    padding: 20px 0;
    width: 100%;
  }
  .mainbox2 .head{
    font-size: 20px;
    font-weight: 700;
  }
  .mainbox2 .social{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
  }
  .social a{
    text-decoration: none;
    font-size: 30px;
    transition: all 0.3s ease;
    color: #7a4a91;
  }
  .social a:hover{
    color: var(--accent);
  }
  
  .madeby{
    margin-top: 50px;
    font-size: 15px;
    color: #333;
    text-align: center;
    width: 100%;
  }
  .madeby .copyright{
    color: #333;
    font-weight: 700;
    margin: 20px auto;
    font-size: 20px;
  }
  .madeby .end{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    /* background-color: #333; */
  }
  .end a{
    color: black;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease;
  }
  .privacypolicy a{
    font-size: 10px;
    margin: 5px 20px;
  }

  @media only screen and (max-width: 768px) {
    .form-box .text{
        font-size: 30px;
      }
      .form-box form{
        padding: 10px 0 0 0;
      }
      .form-box form .form-row{
        display: block;
        flex-direction: column;
        margin-bottom: 0;
      }
      form .form-row .input-data{
        margin: 35px 0!important;
      }
      .submit-btn .input-data{
        width: 40%!important;
      }
      footer .mainbox1{
        flex-direction: column !important;
      }
      footer .box{
        width: 100% !important;
        margin-left: auto !important;
        margin-top: 20px !important;
      }
      footer .head{
        padding-left: 20px !important;
      }
      .f-desc,.address,.n-desc,.links,.sub{
        width: 90% !important;
        padding-left: 20px !important;
      }
      .madeby .end{
        flex-direction: column;
      }
  }